* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}
body {
  width: 100%;
  height: 1000px;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
:root {
  --bg-color: rgb(27, 27, 27);
  --main-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 50px;
  background: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px var(--main-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 15px var(--main-color);
  line-height: 20px;
 background:black;
}
.site {
  position: absolute;
  left: 10px;
  color: white;
  text-decoration: none;
  transform: 0.3s;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 5px;

}
.perfil {
  position: absolute;
  right: 10px;
  color: white;
  text-decoration: none;
  transform: 0.3s;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 50px;
}
.site:hover,
.perfil:hover {
  transform: scale(1.05);
}
.navbar a {
  text-decoration: none;
  color: white;
  width: 130px;
  margin: 0;
  padding: 5px;
}

.navbar a:hover {
  border: solid var(--main-color);
  color: white;
  border-radius: 20px;
  width: 130px;
  margin: 0;
  padding: 3px;
}
.navbar a:active {
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 20px;
  width: 130px;
  margin: 0;
  padding: 3px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 80px;
}
.text h3 {
  font-size: 5rem;
  color: white;
  font-weight: 200;
}
.text span {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  width: 320px;
  height: 40px;
  font-size: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 25px #aa771c, 0 0 50px #b38728, 0 0 100px #bf953f;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.paragrafoTitulo {
  position: relative;
  left: 540px;
  top: 100px;
  width: 400px;
  font-size: 15px;
  text-align: center;
  color: white;
}
.about {
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: black;
  padding: 5px;
  height: 1rem;
  width: 80px;

  border-radius: 25px;
  box-shadow: 0 0 25px #aa771c;
}
.about:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #aa771c, 0 0 50px #b38728, 0 0 100px #bf953f;
}
